body {
    background: linear-gradient(to right, #d7e1ec, #f3f7f9);
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 15px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.01);
}

.btn {
    border-radius: 8px;
    font-weight: 500;
}

.card-title {
    font-weight: bold;
}

.img-thumbnail {
    border-radius: 10px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de linhas antes de truncar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}